@font-face {
  font-family: 'OpenSans-CondBold'; /* Имя шрифта */
  src: url('/styles/fonts/OpenSans-CondBold.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold'; /* Имя шрифта */
  src: url('/styles/fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-Italic'; /* Имя шрифта */
  src: url('/styles/fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular'; /* Имя шрифта */
  src: url('/styles/fonts/OpenSans-Regular.ttf');
}
