/******************************************************************

Typography

******************************************************************/

// Web fonts definitions goes here as well


/* ===============================
     fonts
   =============================== */
$font:          'OpenSans-Regular', sans-serif;
$font-italic:   'OpenSans-Italic', sans-serif;
$font-bold:     'OpenSans-Bold', sans-serif;
$font-con:     'OpenSans-CondBold', sans-serif;
