/******************************************************************

Variables

******************************************************************/

$mnu-color:         #79787c;
$mnu-hover-color:   #bf3e3f;

$h3-title:          #000104;
$body:              #69676c;
$body-bg:           #eeeeee;
